body{
    background-color: rgb(169, 211, 254);
    text-align: center;
}
.light{
    background-color:white;
    color: black;
}
.light h2{
    color: blue;

}

.dark{
    background-color: black;
    color: whitesmoke;

}
.dark h2{
    color: yellow;
}

.nature{
    background-color: rgb(231, 217, 186);
    color: rgb(164, 112, 47);
}
.nature h2{
    color: rgb(167, 93, 47)
}